D.A.W.N[[:space:]]Build/MAC_Builds.zip filter=lfs diff=lfs merge=lfs -text
D.A.W.N[[:space:]]Build/MAC_Builds/DAWN.app/Contents/MacOS/DAWN filter=lfs diff=lfs merge=lfs -text
D.A.W.N[[:space:]]Build/MAC_Builds/DAWN.app/Contents/UE/DAWN/Content/Paks/DAWN-Mac.ucas filter=lfs diff=lfs merge=lfs -text
D.A.W.N[[:space:]]Build/MAC_Builds/DAWN.app/Contents/UE/DAWN/Content/global_sf_metal_sm5-metal_sm5.0.metallib filter=lfs diff=lfs merge=lfs -text
D.A.W.N[[:space:]]Build/MAC_Builds/DAWN.app/Contents/UE/Engine/Binaries/ThirdParty/Apple/MetalShaderConverter/Mac/libmetalirconverter.dylib filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.app/** filter=lfs diff=lfs merge=lfs -text
*.ucas filter=lfs diff=lfs merge=lfs -text
*.metallib filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.app/** filter=lfs diff=lfs merge=lfs -text
*.ucas filter=lfs diff=lfs merge=lfs -text
*.metallib filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.app/** filter=lfs diff=lfs merge=lfs -text
*.ucas filter=lfs diff=lfs merge=lfs -text
*.metallib filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
