@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark-100: #FFFEF5;
    --dark-500: #CBCAC8;
    --dark-900: #0B0416;
    --yello-500: #EDF67D;
    --orange-200: #FFD3BD;
    --orange-500: #FAA275;
  }

@layer base {
    body {
        background-color: var(--dark-900); 
    }

    p, input, label, span {
        font-family: "Rubik";
        font-weight: 400;
    }
   
    a, button {
        font-family: "Rubik";
        font-weight: 500;
    }

    .vh-85 {
        height: 85vh;
    }

    .without-ring:focus {
        outline: none;
        border: none;
        box-shadow: none;
    }    

    .button-color {
        background-color: var(--yello-500);
    }

    .main {
        /* background-image: url("/public/banner/red-radial.svg"); */
        background: radial-gradient(108.67% 100% at 50% 0%, rgba(11, 4, 22, 0.00) 0%, #0B0416 79.03%, #1B0717 81.87%, #450D19 91.18%, #62121B 95.13%, #73141C 100%);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .section-gradiente-top {
        background: linear-gradient(0deg, rgba(11, 4, 22, 0.00) 0%, #450D19 54%, #73141C 100%);
    }

    .main-background {
        position: relative;
        padding-bottom: 128px;
    }

    .title-font {
        font-family: "Anton SC";
        font-weight: 400;
    }

    .paragraph-font-medium {
        font-family: "Rubik";
        font-weight: 500;
    }

    .title-color {
        color: var(--dark-100);
    }

    .paragraph-font {
        font-family: "Rubik";
        font-weight: 400;
    }

    .paragraph-color {
        color: var(--dark-500);
    }

    .paragraph-orange-500 {
        color: var(--orange-500);
    }
    
    .paragraph-orange-200 {
        color: var(--orange-200);
    }

    .button-font {
        font-family: "Rubik";
        font-weight: 500;
    }

    .main-inner {
        margin: 0 auto;
        max-width: 1320px;
    }

    .aspect-ratio-img {
        aspect-ratio: 4/3;
        object-fit: cover;
    }
}
  
@layer components {
    .title-h1 {
        @apply title-font text-[64px] md:text-[138px] leading-[95%] uppercase 
    }

    .title-h2 {
        @apply title-font text-[48px] md:text-[105px] leading-[95%] 
    }

    .title-h3 {
        @apply title-font text-[24px] md:text-[47px] leading-[95%] 
    }

    .title-h4 {
        @apply title-font text-[21px] md:text-[27px] leading-[120%] 
    }

    .btn {
        @apply inline-block justify-center content-center button-font button-color text-xs md:text-sm md:h-14 px-6 md:px-8 uppercase  h-12 lg:h-14 w-full md:w-64 rounded-lg
    }

    .paragraph-primary {
        @apply paragraph-font text-xs md:text-sm leading-[170%] md:leading-[170%]
    }
    
    .paragraph-secondary {
        @apply paragraph-font paragraph-color text-xs md:text-sm leading-[170%] md:leading-[170%] text-stone-200
    }

    .paragraph-medium {
        @apply button-font text-xs md:text-sm leading-[170%] md:leading-[170%]
    }

    .main-inner-section {
        @apply main-inner px-6 md:px-8 2xl:px-0
    }

    .slider-img {
        @apply slider-img-control h-[400px] lg:h-[600px]
    }
      
  }

  
 