@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #1a73e8;
    --color-01: #E7E4DE;
    --color-description: #9DA1AC;
    --button: #6D2FFF;
    --dark-900: #0B0416
  }
  

@layer components {

    body {
        background-color: var(--dark-900); 
    }

    p, input, label, span, a, button {
        font-family: "Rubik";
        font-weight: 400;
    }

    .vh-85 {
        height: 85vh;
    }

    .without-ring:focus {
        outline: none;
        border: none;
        box-shadow: none;
      }

    .button-color {
        background-color: var(--button);
    }

    .main {
        /* background-image: url("/public/banner/red-radial.svg"); */
        background: radial-gradient(108.67% 100% at 50% 0%, rgba(11, 4, 22, 0.00) 0%, #0B0416 79.03%, #1B0717 81.87%, #450D19 91.18%, #62121B 95.13%, #73141C 100%);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .main-background {
        color: var(--color-01);
        position: relative;
        padding-bottom: 128px;
    }

    .color-descripcion {
        color: var(--color-description);
    }

    .title {
        font-family: "Anton SC";
        font-weight: 400;
    }
    .button {
        font-family: "Rubik";
        font-weight: 600;
    }
    .paragraph {
        font-family: "Rubik";
        font-weight: 400;
    }
    
    .button {
        font-family: "Rubik";
        font-weight: 600;
    }

    .main-inner {
        margin: 0 auto;
        max-width: 1320px;
    }

    .title-h1 {
        @apply title text-[56px] md:text-[138px] leading-[95%] uppercase
    }

    .title-h2 {
        @apply title text-[40px] md:text-[105px] leading-[95%]
    }
s
    .title-h3 {
        @apply title text-[21px] md:text-[95px] leading-[95%]
    }

    .title-h4 {
        @apply title text-[14px] md:text-[27px] leading-[95%]
    }

    .btn {
        @apply inline-block justify-center content-center button text-sm md:text-base h-12 md:h-14 button-color px-6 md:px-8 rounded-2xl
    }

    .descriptions {
        @apply paragraph text-sm md:text-base leading-[170%]
    }

    .main-inner-section {
        @apply main-inner px-6 md:px-8 2xl:px-0
    }

    .slider-img {
        @apply slider-img-control h-[400px] lg:h-[600px]
    }
      
  }

  
 