@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark-050: #FFFFFF;
    --dark-100: #F4F4F4;
    --dark-200: #CBC8C8;
    --dark-800: #121212;
    --dark-900: #0A0A0A;
    --red-500: #D61233;
    --red-600: #7E0116;
    --green-500: #19F783;
    --orange-500: #FAA275;
  }

@layer base {
    body {
        background-color: var(--dark-900); 
    }

    p, input, label, span, li {
        font-family: "Rubik";
        font-weight: 400;
    }
   
    a, button {
        font-family: "Rubik";
        font-weight: 500;
    }

    .vh-85 {
        height: 85vh;
    }

    .without-ring:focus {
        outline: none;
        border: none;
        box-shadow: none;
    }    

    .button-color {
        background-color: var(--red-500);
    }

    .main {
        height: 100vh;
    }

    .section-gradiente-top {
        background: linear-gradient(0deg, rgba(11, 4, 22, 0.00) 0%, #450D19 54%, #73141C 100%);
    }
    .section-gradiente-bottom {
        background: linear-gradient(180deg, rgba(11, 4, 22, 0.00) 0%, #450D19 54%, #73141C 100%);
    }

    .section-image {
        background-image: url('/assets/img/04.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .footer-image {
        background-image: url('/assets/img/07.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .main-background {
        position: relative;
    }

    .title-font {
        font-family: "Big Shoulders Display";
        font-weight: 400;
    }

    .paragraph-font-medium {
        font-family: "Rubik";
        font-weight: 500;
    }

    .title-color {
        color: var(--dark-100);
    }

    .paragraph-font {
        font-family: "Rubik";
        font-weight: 400;
    }

    .paragraph-color {
        color: var(--dark-200);
    }

    .paragraph-orange-500 {
        color: var(--orange-500);
    }
    
    .paragraph-orange-200 {
        color: var(--orange-200);
    }

    .paragraph-yellow-500 {
        color: var(--yello-500);
    } 

    .button-font {
        font-family: "Rubik";
        font-weight: 500;
    }

    .main-inner {
        margin: 0 auto;
        max-width: 1320px;
    }

    .aspect-ratio-img {
        aspect-ratio: 4/3;
        object-fit: cover;
    }

    .video-container {
        width: 100%;     
        height: 100vh;  
        position: absolute;
        display: flex; 
        justify-content: center;
        align-items: center;
        overflow: hidden; 
    }

    .video-container video {
        height: 100%;         
        width: 100%;         
        object-fit: cover;    
      }

      .video-container::before {
        content: "";
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          to bottom, 
          rgba(0, 0, 0, 0) 0%,   
          rgba(0, 0, 0, 0.2) 50%,   
          rgba(0, 0, 0, 0.5) 70%,
          rgba(0, 0, 0, 0.6) 80%,
          rgba(0, 0, 0, 1) 100% 
        );
        pointer-events: none; 
      }
}
  
@layer components {
    .title-h1 {
        @apply title-font text-[64px] md:text-[138px] leading-[95%] uppercase 
    }

    .title-h2 {
        @apply title-font text-[48px] md:text-[105px] leading-[95%] uppercase
    }

    .title-h3 {
        @apply title-font text-[32px] md:text-[47px] leading-[95%] uppercase
    }

    .title-h4 {
        @apply title-font text-[21px] md:text-[27px] leading-[120%] uppercase
    }

    .btn {
        @apply 
            text-center
            text-white
            inline-block 
            justify-center 
            content-center 
            button-font 
            text-xs md:text-sm md:h-14 px-6 md:px-8 
            uppercase 
            h-12 lg:h-14 
            w-full md:w-auto 
            rounded-lg 
            transition ease-in-out delay-150 hover:scale-[1.05] duration-300
    }

    .btn-primary {
        @apply button-color 
    }
    .btn-secondary {
        @apply 
            bg-white/5
            border
            border-white/10
    }

    .paragraph-primary {
        @apply paragraph-font text-xs md:text-sm leading-[170%] md:leading-[170%]
    }
    
    .paragraph-secondary {
        @apply paragraph-font paragraph-color text-xs md:text-sm leading-[170%] md:leading-[170%] text-stone-200
    }

    .paragraph-medium {
        @apply button-font text-xs md:text-sm leading-[170%] md:leading-[170%]
    }

    .main-inner-section {
        @apply main-inner px-6 md:px-8 2xl:px-0
    }

    .slider-img {
        @apply slider-img-control h-[400px] lg:h-[600px]
    }
      
  }

  
 
